/********** Template CSS **********/
:root {
    --primary: #ff0000;
    --secondary: #9b9b9b;
    --light: #f5f5f5;
    --dark: #161616;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 100px;
    bottom: 45px;
    z-index: 99;
}

.whatsapp {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity 0.5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Button ***/
.btn {
    font-weight: 500;
    transition: 0.5s;
}

.btn.btn-primary {
    color: #ffffff;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: 0.5s;
}

.navbar .navbar-brand {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: var(--dark);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #eeeeee;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
    }
}

.navbar .btn:hover {
    color: #ffffff !important;
    background: var(--primary) !important;
}

/*** Header ***/
.header-carousel .carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background: rgba(22, 22, 22, 0.7);
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item h5,
    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    width: 200px;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 45px;
    font-size: 22px;
    transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.header-carousel .owl-dots {
    position: absolute;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 15px;
    transition: 0.5s;
}

.header-carousel .owl-dot::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 4px;
    background: #ffffff;
    border-radius: 5px;
}

.header-carousel .owl-dot.active {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header-about {
    background: linear-gradient(rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 0.7)),
        url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-about {
    background: linear-gradient(rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 0.7)),
        url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header-services {
    background: linear-gradient(rgba(22, 22, 22, 0.7), rgba(22, 22, 22, 0.7)),
        url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.sidebar {
    width: 300px;
}

.sidebar-img {
    background: linear-gradient(rgba(0, 0, 0, 0.7), #008bca),
        url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;

    background-color: lightgrey;
    width: 300px;
    padding: 10px;
    height: 700px;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: var(--light);
}

/*** products ***/

@media (max-width: 576px) {
    .sidebar-img {
        width: 50px !important;
        display: flex;
    }
    .sidebar {
        width: 50px;
    }
}

@media (max-width: 768px) {
    .sidebar-img {
        width: 50px !important;
        display: flex;
    }
    .sidebar {
        width: 50px;
    }
}

@media (max-width: 992px) {
    .sidebar-img {
        width: 50px !important;
        display: flex;
    }
    .sidebar {
        width: 50px;
    }
}

@media (max-width: 1200px) {
    .sidebar-img {
        width: 150px !important;
        display: flex;
    }
    .sidebar {
        width: 150px;
        padding: 0px;
    }

    .small {
        font-size: 9px;
    }

    .sidebar2 {
        width: 00px !important;
        display: flex;
    }

    .img-content {
        /* height: 30%; */
        width: 10%;
        height: auto;
    }

    .bigscreen {
        display: none;
    }
}

@media (max-width: 1400px) {
    .sidebar-img {
        width: 200px !important;
        display: flex;
    }

    .small {
        font-size: 12px;
    }

    .sidebar {
        width: 200px;
        padding: 0px;
    }

    .img-content {
        /* height: 30%; */
        width: 10%;
        height: auto;
    }
}

.bar {
    color: red;
    width: 3px;
    height: 3px !important;
    border: solid;
}

@media (max-width: 1800px) {
    .img-content {
        /* height: 30%; */
        width: 80%;
        height: auto;
    }

    .mo-left {
        /* height: 30%; */
        float: left;
        margin: 0 1.5%;
        width: 30%;
    }
    .mo-right {
        /* height: 30%; */
        float: right;
        margin: 0 1.5%;
        width: 63%;
    }
}
/*** end products ***/

/*** About ***/
@media (min-width: 992px) {
    .container.about {
        max-width: 100% !important;
    }

    .about-text {
        padding-right: calc(((100% - 960px) / 2) + 0.75rem);
    }
}

@media (min-width: 1200px) {
    .about-text {
        padding-right: calc(((100% - 1140px) / 2) + 0.75rem);
    }
}

@media (min-width: 1400px) {
    .about-text {
        padding-right: calc(((100% - 1320px) / 2) + 0.75rem);
    }
}

/*** Service ***/
.service-row {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

.service-item {
    border-color: rgba(0, 0, 0, 0.03) !important;
}

.service-item .btn {
    width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    color: #ffffff;
    background: var(--primary);
    border-radius: 38px;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.5s;
}

.service-item:hover .btn {
    width: 140px;
}

/*** Feature ***/
@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
    }

    .feature-text {
        padding-left: calc(((100% - 960px) / 2) + 0.75rem);
    }
}

@media (min-width: 1200px) {
    .feature-text {
        padding-left: calc(((100% - 1140px) / 2) + 0.75rem);
    }
}

@media (min-width: 1400px) {
    .feature-text {
        padding-left: calc(((100% - 1320px) / 2) + 0.75rem);
    }
}

/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: 0.5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-inner {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.07);
}

.portfolio-inner img {
    transition: 0.5s;
}

.portfolio-inner:hover img {
    transform: scale(1.1);
}

.portfolio-inner .portfolio-text {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -50px;
    opacity: 0;
    transition: 0.5s;
}

.portfolio-inner:hover .portfolio-text {
    bottom: 0;
    opacity: 1;
}

/*** Quote ***/
@media (min-width: 992px) {
    .container.quote {
        max-width: 100% !important;
    }

    .quote-text {
        padding-right: calc(((100% - 960px) / 2) + 0.75rem);
    }
}

@media (min-width: 1200px) {
    .quote-text {
        padding-right: calc(((100% - 1140px) / 2) + 0.75rem);
    }
}

@media (min-width: 1400px) {
    .quote-text {
        padding-right: calc(((100% - 1320px) / 2) + 0.75rem);
    }
}

/*** Team ***/
.team-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

.team-item img {
    transition: 0.5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item .team-social {
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(22, 22, 22, 0.7);
    opacity: 0;
    transition: 0.5s;
}

.team-item:hover .team-social {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}

.team-item .team-social .btn {
    opacity: 0;
}

.team-item:hover .team-social .btn {
    opacity: 1;
}

/*** Testimonial ***/
.testimonial-carousel {
    display: flex !important;
    flex-direction: column-reverse;
    max-width: 700px;
    margin: 0 auto;
}

.testimonial-carousel .owl-dots {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.testimonial-carousel .owl-dots .owl-dot {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    transition: 0.5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
    width: 100px;
    height: 100px;
}

.testimonial-carousel .owl-dots .owl-dot::after {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--primary);
    background: #ffffff;
    border-radius: 40px;
    transition: 0.5s;
    opacity: 0;
}

.testimonial-carousel .owl-dots .owl-dot.active::after {
    opacity: 1;
}

.testimonial-carousel .owl-dots .owl-dot img {
    border-radius: 60px;
    opacity: 0.4;
    transition: 0.5s;
}

.testimonial-carousel .owl-dots .owl-dot.active img {
    opacity: 1;
}

/*** Contact ***/
@media (min-width: 992px) {
    .container.contact {
        max-width: 100% !important;
    }

    .contact-text {
        padding-left: calc(((100% - 960px) / 2) + 0.75rem);
    }
}

@media (min-width: 1200px) {
    .contact-text {
        padding-left: calc(((100% - 1140px) / 2) + 0.75rem);
    }
}

@media (min-width: 1400px) {
    .contact-text {
        padding-left: calc(((100% - 1320px) / 2) + 0.75rem);
    }
}

/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--secondary);
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}
/*  */
#achur-date1 {
    transition: 250ms width ease, 250ms border-color ease;
}

#achur-date2 {
    transition: 250ms width ease, 250ms border-color ease;
}

ul.top-info-box {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

body {
    margin-top: 20px;
    background: #eee;
}
.service-container {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service-container .icon {
    margin-top: 5%;
    font-size: 38px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service-container .number-icon .icon-2 {
    height: 70px;
    width: 70px;
    line-height: 80px;
    border-radius: 64% 36% 55% 45% / 76% 72% 28% 24% !important;
    border-color: #f89d36 !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service-container .number-icon .icon-2 i {
    font-size: 30px;
}

.service-container .number-icon .number {
    position: absolute;
    top: 0;
    right: 70px;
    left: 0;
    height: 35px;
    width: 35px;
    margin: 0 auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service-container .number-icon .number span {
    line-height: 30px;
}

.service-container .content .number {
    font-size: 40px;
    color: #dee2e6;
}

.service-container .content .title {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service-container.hover-bg {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service-container.hover-bg .smooth-icon {
    position: absolute;
    bottom: -40px;
    right: -20px;
    font-size: 60px;
    color: #f8f9fa;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.service-container.hover-bg:hover {
    background-color: #f89d36;
}

.service-container.hover-bg:hover .content .title {
    color: #ffffff !important;
}

.service-container.hover-bg:hover .content .serv-pera {
    color: #fafafb !important;
}

.service-container.hover-bg:hover .smooth-icon {
    font-size: 100px;
    opacity: 0.2;
    bottom: -20px;
    right: 10px;
}

.service-container:hover {
    background-color: #ffffff;
    -webkit-box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
    box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
}

.service-container:hover .icon {
    color: #f89d36;
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

.service-container:hover .number-icon .icon-2 {
    background-color: #f89d36;
    border-radius: 50% !important;
}

.service-container:hover .number-icon .icon-2 i {
    color: #ffffff !important;
}

.service-container:hover .number-icon .number {
    color: #ffffff;
    background: #f89d36 !important;
    border-color: #ffffff !important;
}

.service-container:hover .content .title {
    color: #f89d36;
}

.service-container a:hover,
.service-container a .title:hover {
    color: #f89d36 !important;
}

@-webkit-keyframes mover {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes mover {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.service-wrapper {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service-wrapper .icon {
    width: 60px;
    height: 60px;
    line-height: 45px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service-wrapper .content .title {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: 500;
}

.service-wrapper .big-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.05;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.service-wrapper:hover {
    -webkit-box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
    box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
    background: #ffffff;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    border-color: transparent !important;
}

.service-wrapper:hover .icon {
    background: red !important;
    color: #ffffff !important;
}

.service-wrapper:hover .big-icon {
    z-index: -1;
    opacity: 0.1;
    font-size: 160px;
}

.text-custom {
    color: #008bca !important;
}

.text-custom:hover {
    color: red !important;
}

.uim-svg {
    display: inline-block;
    height: 1em;
    vertical-align: -0.125em;
    font-size: inherit;
    fill: var(--uim-color, currentColor);
}
/*  */
.mu-about-left {
    display: inline;
    float: left;
    padding-right: 15px;
    width: 100%;
}

.mu-about-right {
    display: inline;
    float: left;
    padding-left: 15px;
    width: 100%;
}

.mu-single-team {
    background-color: #f6f6f6;
    display: inline;
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.mu-single-team-img {
    display: inline;
    float: left;
    width: 25%;
}

.mu-single-team-content {
    display: inline;
    float: left;
    width: 75%;
    padding: 15px 33px;
}
.mu-single-team-content p {
    font-size: 14px;
    margin-bottom: 12px;
}

.mu-team-social li {
    list-style: none;
    display: inline-block;
}

.mu-team-social li a {
    background-color: #ebebeb;
    border-radius: 50%;
    color: #7a7272;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    width: 35px;
    text-align: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.mu-team-social li a:hover,
.mu-team-social li a:focus {
    background-color: #0091ea;
    color: #fff;
}
/*  */
.mystyle_btn {
    color: #008bca;
    background-color: white;
}
.mystyle_btn:hover {
    color: white;
    background-color: red;
}

.mystyle_smallfont {
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

/* partner slides */
h2 {
    text-align: center;
    padding: 20px;
}
/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir="rtl"] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
